---
import '@fontsource/inter/400.css';
import '@fontsource/inter/600.css';
import '@fontsource/inter/700.css';
import '@fontsource/space-grotesk/700.css';

interface Props {
  title: string;
  description?: string;
}

const { 
  title, 
  description = "Your Ultimate Guide to Hiring Top Fiverr Freelancers. Expert reviews, comparisons, and recommendations to help you find the perfect freelancer."
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Freelance Finder Hub</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-dark text-white min-h-screen">
    <slot />
  </body> <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8615768273731069"
            crossorigin="anonymous"></script>
</head>

</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>
